.main-app {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100dvh;
}

.main-app p {
  max-width: 300px;
  text-align: center;
}

.main-app h1 {
  font-weight: 900;
  font-size: 2rem;
  color: #ee4b2b;
  margin-bottom: 10px;
}

.main-app .action-btns {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
